body {
    background-color: black;
    margin: 0 auto;
}

.logo-container {
    text-align: center;
  }
  
  #logo {
    position: absolute;
    width: 100px;
    height: auto; 
    top: 30px;
    left: 40px;

  }
  
  .logo-text {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    top: 120px;
    left: 30px;
    position: absolute;
    margin-left: 0px;
    color: green;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: red;
    transition: .3s;
  }

  button {
    border: none;
    background: green;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
  }

  button:hover {
    transform: scale(1.3);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 104%;
  }

  h2 {
    color: white;
    margin-top: 10px;
    top: 200px;
    left: 720px;
    position: absolute;
    margin-left: 0px;
  }

  